*{
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

body{
    background-color: #012f41;
    margin-top: 40px;
    color:aliceblue;
}

.choices{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;

    @media screen and (max-width:992px) {
        gap: 25px;
    }
}

.choice{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:992px) {
        width: 100px;
        height: 100px;
    }
}

.choice:hover{
    background-color: #6a93ac;
    box-shadow: 2px 2px 2px 2px rgba(240, 234, 234, 0.2);
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;

    @media screen and (max-width:992px) {
        width: 100px;
        height: 100px;
    }
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 1.5rem;
    margin-top: 40px;
}

.score{
    font-size: 2.5rem;
}

.details{
    display: inline-block;
    background-color: #d8f3dc;
    color: #1b4332;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.win{
    color: green;
    margin-top: 10px;
    font-size: 1rem;
}

.lose{
    color: red;
    margin-top: 10px;
    font-size: 1rem;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-game{
    margin-top: 20px;
    background-color: #060707;
    color: #d8f3dc;
    border:none;
    padding: 10px;
    border-radius: 10px;
}

.hide{
    display: none;
}